{% extends 'layout.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block body %}
<h1>Folder Number {{form.fld_folder_number.data}}</h1>
<div class="panel panel-primary">
  <div class="panel-heading">Mammography Information</div>
  <div class="panel-body">
    {{ wtf.quick_form(form, button_map={'submit_button': 'primary'}) }}
  </div>
</div>
{% endblock %}
{% block scripts %}
<script>

  function toggleSubForm(selectorFieldId, name) {

    var selection = $(selectorFieldId).val() == "Y";
    // console logs can be fancy
    // https://developers.google.com/web/tools/chrome-devtools/console/console-write#string_substitution_and_formatting
    console.log("toggle state of [%s] to [%s]", name, selection)
    $("label[for=" + name + "]").parent().parent().toggle(selection)
  }

  function toggleOtherForm (selectorFieldId, name) {

    var selection = $(selectorFieldId).val() != "other";
    // console logs can be fancy
    // https://developers.google.com/web/tools/chrome-devtools/console/console-write#string_substitution_and_formatting
    // have not seen this come anywhere in the console logs?
    console.log("toggle state of [%s] to [%s]", name, selection)
    $("label[for=" + name + "]").parent().parent().toggle(selection)
  }

  function registerSubForm(name)
  {
    // toggle on load..
    var selectorFieldId = '#fld_'+name
    toggleSubForm(selectorFieldId, name)

    // ... and register a change as well
    $(selectorFieldId).on('change',function(){
      toggleSubForm(selectorFieldId, name)
    });
  }
  // ... do I have to add each other field here? so for each form a other_field html also has to be made? - dk
  // .. registerSubForm('architectural_distortions')
  // .. registerSubForm('mammo_mass')
  // .. registerSubForm('mammo_calcification')

</script>
{% endblock %}