    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Patients</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
              aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li>  <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Patients</a>
          </li>
        </ul>

        <ul class="navbar-nav navbar-right">
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
            {% if session.logged_in %}
                <li class="nav-link"><a href="/logout">Logout</a></li>
            {% else %}
                <li class="nav-link"><a href="/register">Register</a></li>
                <li class="nav-link"><a href="/login">Login</a></li>
            {% endif %}
        </ul>
      </div>
    </nav>