{% extends 'layout.html' %}

{% block body %}
    <h1>Mammography Information</h1>
    <small>Welcome {{session.name}}</small>
    <div></div>
    <a class="btn btn-success" href="/add_patient">Register New Patient</a>
    <a class="btn btn-success" href="/add_biopsy">Add new Biopsy Report</a>
    <a class="btn btn-success" href="/add_mammo">Add new Mammography Report</a>
    <hr>

    <table class="table table-striped">
        <tr>
            <th>Folder Number</th>
            <th>BI-RAD Status</th>
        </tr>
        {% for mammography in mammographies %}
            <tr>
                <td>{{mammography.folder_number}}</td>
                <td>{{mammography.mammo_birad}}</td>
                <td><a href="edit_mammo/{{mammography.folder_hash}}" class="btn btn-default pullright">Edit</a></td>
                <td>
                    <form action="{{url_for('delete_mammo', folder_hash=mammography.folder_hash)}}" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}