{% extends 'layout.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block body %}
<h1>Folder Number {{form.fld_folder_number.data}}</h1>
<div class="panel panel-primary">
  <div class="panel-heading">Mammography Information</div>
  <div class="panel-body">
    {{ wtf.quick_form(form, button_map={'submit_button': 'primary'}) }}
  </div>
</div>
{% endblock %}
{% block scripts %}
<script>

  function toggleSubForm(selectorFieldId, name) {
    
    var selection = $(selectorFieldId).val() == "Y";
    //dk this selects for the value of selectorFieldId that will cause a change in the SubForm
    // console logs can be fancy
    // https://developers.google.com/web/tools/chrome-devtools/console/console-write#string_substitution_and_formatting
    console.log("toggle state of [%s] to [%s]", name, selection)
     $("label[for=" + name + "]").parent().parent().toggle(selection)
    //dk this describes what the subform is named and where it is located? .parent (mammo); 2nd .parent(folder?)

  }


  function registerSubForm(name)
  {
    // toggle on load..
    var selectorFieldId = '#fld_'+name+'_present'
    toggleSubForm(selectorFieldId, name)
    //dk defines selector field name
    // ... and register a change as well
    $(selectorFieldId).on('change',function(){
      toggleSubForm(selectorFieldId, name)
    });
    //dk tells it what to do when the selectorFieldId is changed as defined above?
    //dk if I want a nested subform should the functions also be nested? otherwise I find whenever I have any other function
    //dk the form only shows the deepest function (so if I add an other field whose behaviour changes when other is selected
    //dk all subforms defined here are displayed and only other functionality is retained?
  }


  registerSubForm('mammography_architectural_distortions')
  registerSubForm('mammo_mass')
  registerSubForm('mammo_calcification')
  registerSubForm('mammography_asymmetry')
  registerSubForm('mammography_associated_features')

</script>
{% endblock %}