{% extends 'layout.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block body %}
<h1>Folder Number {{form.fld_folder_number.data}}</h1>
<div class="panel panel-primary">
  <div class="panel-heading">Mammography Information</div>
  <div class="panel-body">
    {{ wtf.quick_form(form, button_map={'submit_button': 'primary'}) }}
  </div>
</div>
{% endblock %}
{% block scripts %}
<script>

  function toggleSubForm(selectorFieldId, name) {
    
    var selection = $(selectorFieldId).val() == "Y";
    console.log("toggle state of [%s] to [%s]", name, selection)
    $("label[for=" + name + "]").parent().parent().toggle(selection)
   }


  function registerSubForm(name)
  {
    var selectorFieldId = '#fld_'+name+'_present'
    toggleSubForm(selectorFieldId, name)
    $(selectorFieldId).on('change',function(){
    toggleSubForm(selectorFieldId, name)
    });
   }

 function toggleOther(selectorFieldId, otherFieldId) {

   var selection = $(selectorFieldId).val() == "other";
   otherField = $(otherFieldId)
   if(typeof otherField != 'undefined') {
   console.log("toggle state of [%s] to [%s]", otherFieldId, selection)
   otherField.parent().toggle(selection)
     }
   }

  function registerOtherHandler(name, otherName){
    // toggle on load..
    var selectorFieldId = '#'+name
    var otherFieldId = '#'+otherName
    toggleOther(selectorFieldId, otherFieldId)
    // ... and register a change as well
    $(selectorFieldId).on('change',function(){
    toggleOther(selectorFieldId, otherFieldId)
      });
  }

  function registerOtherHandlers(){
    otherFields = $("[id$=_other]");
    for (var i = 0; i < otherFields.length; i++) {
      otherFieldId = otherFields[i].id
      fieldId = otherFieldId.substring(0, otherFieldId.length - "_other".length)
      registerOtherHandler(fieldId, otherFieldId)
    }    
  }

  registerOtherHandlers()
  registerSubForm('mammography_architectural_distortions')
  registerSubForm('mammo_mass')
  registerSubForm('mammo_calcification')
  registerSubForm('mammography_asymmetry')
  registerSubForm('mammography_associated_features')

</script>
{% endblock %}