{% extends 'layout.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block body %}
</p>
<div class="card border-dark mb-3">
  <div class="card-header">Folder: {{folder_number}}{{Information}}</div>
  <div class="card-body text-dark">
    <h5 class="card-title">{{form.title}}</h5>
    {{ wtf.quick_form(form, button_map={'submit_button': 'primary'}) }}
  </div>
</div>
{% endblock %}
{% block scripts %}
<script>

  function toggleSubForm(selectorFieldId, name) {
    var selection = $(selectorFieldId).val() == "Y";
    console.log("toggle state of [%s] to [%s]", name, selection)
    $("label[for=" + name + "]").parent().parent().toggle(selection)
  }

  function registerSubForm(name) {
    name = name.substring('fld_'.length, name.length - '_present'.length)
    var selectorFieldId = '#fld_'+name+'_present'
    
    toggleSubForm(selectorFieldId, name)
    
    $(selectorFieldId).on('change',function() {
      toggleSubForm(selectorFieldId, name)
    });
  }

 function toggleOther(selectorFieldId, otherFieldId) {
    var selection = $(selectorFieldId).val() == "other";
    otherField = $(otherFieldId)
    if(typeof otherField != 'undefined') {
    console.log("toggle state of [%s] to [%s]", otherFieldId, selection)
    otherField.parent().toggle(selection)
    }
  }

  function registerOtherHandler(name, otherName) {
    // toggle on load..
    var selectorFieldId = '#'+name
    var otherFieldId = '#'+otherName
    toggleOther(selectorFieldId, otherFieldId)
    // ... and register a change as well
    $(selectorFieldId).on('change',function(){
    toggleOther(selectorFieldId, otherFieldId)
      });
  }

  function registerOtherHandlers() {
    otherFields = $("[id$=_other]");
    for (var i = 0; i < otherFields.length; i++) {
      otherFieldId = otherFields[i].id
      fieldId = otherFieldId.substring(0, otherFieldId.length - "_other".length)
      registerOtherHandler(fieldId, otherFieldId)
    }    
  }

  function registerFormHandlers() {
    formFields = $("[id$=_form_present]");
    for (var i = 0; i < formFields.length; i++) {
      formFieldId = formFields[i].id
      registerSubForm(formFieldId)
    }    
  }

  registerFormHandlers()
  registerOtherHandlers()
  
</script>
{% endblock %}